<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
  <title>로그인</title>
  <style>
    input[type="email"],
    input[type="password"] {
      width: 10%;
      min-width: 300px; /* 최소 너비 지정 */
      padding: 12px;
      font-size: 14px;
      margin-bottom: 16px;
      box-sizing: border-box;
    }
  </style>
</head>

<body>
<div layout:fragment="content">
  <div class="container">
    <h2>로그인</h2>
    <!-- 로그인 실패 메시지 표시 -->

    <form th:action="@{/users/login}" method="post">
      <div id="form-container">
        <div id="email-container">
          <label for="email">이메일</label>
          <input type="email" id="email" name="email" required>
        </div>

        <div id="password-container">
          <label for="password">비밀번호</label>
          <input type="password" id="password" name="password" required>
        </div>
      </div>
      <div th:if="${session.loginError}" style="color: red; font-size: 14px;">
        <p th:text="${session.loginError}"></p>
      </div>
      <button type="submit">로그인</button>
    </form>

    <!-- 소셜 로그인 버튼 -->
    <div class="social-login-buttons">
      <a href="/kakao-login" class="kakao-login-button">
        <img th:src="@{/images/kakao-login.png}" alt="카카오 로그인" style="width: 155px; height: auto;">
      </a>
      <a href="/google-login">
        <img src="/images/google-login.png" alt="구글 로그인" style="width: 175px; height: auto;"/>
      </a>
    </div>
  </div>

</div>
</body>
</html>