<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <title>회원가입</title>
    <th:block layout:fragment="head">
        <script th:src="@{/js/sign-up.js}" defer></script>
    </th:block>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <h2>회원가입</h2>
        <form th:action="@{/users/sign-up}" method="post" th:object="${user}" novalidate>
            <div id="form-container">
                <div id="email-container">
                    <label for="email">이메일</label>
                    <input type="email" id="email" th:field="*{email}" required>
                    <button type="button" class="auth-button" id="registerAuthButton">이메일 인증하기</button>

                    <!-- 이메일 에러 메시지 -->
                    <p class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>

                <div id="password-container">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" th:field="*{password}" required>
                    <p class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

                    <label for="confirmPassword">비밀번호 확인</label>
                    <input type="password" id="confirmPassword" th:field="*{confirmPassword}" required>
                    <p class="error-message" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>

                    <label for="nickname">닉네임</label>
                    <input type="text" id="nickname" th:field="*{nickname}" required>
                    <p class="error-message" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></p>
                </div>
            </div>
            <button type="submit">가입하기</button>
        </form>

        <!-- 소셜 로그인 버튼 -->
        <div class="social-login-buttons">
            <a href="/kakao-login" class="kakao-login-button">
                <img th:src="@{/images/kakao-login.png}" alt="카카오 로그인" style="width: 170px; height: auto;">
            </a>
            <a href="/google-login">
                <img src="/images/google-login.png" alt="구글 로그인" style="width: 180px; height: auto;"/>
            </a>
        </div>
    </div>
</div>
</body>
</html>