<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>TRIPPIA</title>
</head>
<body>

<div id='wrapper'>
    <div>
        <div th:replace="~{fragments/header::header}"></div>
        <div layout:fragment="content" class="content"></div>
    </div>
</div>

<div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>