<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>TRIPPIA</title>
</head>
<body>
<div style="display: flex; flex-direction: column; min-height: 100vh;">
    <div th:replace="~{fragments/header::header}"></div>

    <!-- 메인 콘텐츠가 늘어나도록 설정 -->
    <main layout:fragment="content" style="flex: 1;"></main>

    <!-- footer는 아래에 -->
    <div th:replace="~{fragments/footer::footer}"></div>
</div>
</body>
</html>