<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="/css/radiobutton.css">
    <link rel="stylesheet" href="/css/city-modal.css">
    <link rel="stylesheet" href="/css/theme-modal.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/city-modal.js"></script>
    <script defer src="/js/theme-modal.js"></script>

    <!-- CKEditor 5 스크립트 로드 -->
    <script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
    <style>
        .ck-editor__editable{
            min-height: 350px;

        }

        form {
            text-align: left;
            width: 60%;
            margin: 0 auto;
        }

        /* 부드러운 글씨체 적용 */
        body {
            font-family: 'Noto Sans', 'Roboto', 'Apple SD Gothic Neo', sans-serif;
            line-height: 1.6;
            font-size: 15px;
            color: #333;
        }

        .input-container input, .button-container button {
            font-family: 'Noto Sans', 'Roboto', 'Apple SD Gothic Neo', sans-serif;
            font-size: 15px;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #ccc;
            width: 100%;
            box-sizing: border-box;
        }

        .input-section {
            padding: 20px;
            background-color: #f8f8f8;
            border-radius: 8px;
            margin-bottom: 25px;
            border: 1px solid #ddd;
        }

        /* 각 input-container에 여백 추가 */
        .input-container {
            margin-bottom: 25px;
        }


    </style>
</head>

<body>
<div id='wrapper'>
    <div th:replace="~{fragments/header::header}"></div>

    <form th:action="@{/diary/new}" method="post" th:object="${diary}" novalidate>
        <!-- 필수 입력 정보 -->
        <div class="input-section">
            <h3 class="section-title">필수 입력 정보</h3>

            <div class="input-container">
                <label for="cityId">여행지 이름을 알려주세요!</label>
                <div style="display: flex; gap: 10px;">
                    <input type="text" id="location" th:field="*{location}" placeholder="어디로 여행을 다녀오셨나요?" readonly/>
                    <button type="button" id="openCityModal">도시 선택</button>
                </div>
                <input type="hidden" id="cityId" th:field="*{cityId}" required/>
                <p class="error-message" th:if="${#fields.hasErrors('cityId')}" th:errors="*{cityId}"></p>
            </div>

            <!-- 도시 선택 모달 -->
            <div id="cityModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <h3>도시 선택</h3>
                    <div class="city-list">
                        <div th:each="entry : ${cities.groupedCities}">
                            <h4 th:text="${entry.key}">도시 유형</h4>
                            <ul>
                                <li th:each="city : ${entry.value}">
                                    <button type="button" th:text="${city.name}"
                                            th:attr="data-city=${city.name}, data-id=${city.id}"
                                            onclick="selectCity(this)">
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 여행 기간 -->
            <label style="flex-shrink: 0;">여행 기간은 언제부터 언제까지였나요?</label>
            <div class="input-container">
                <div style="display: flex; gap: 10px; align-items: center;">
                    <input type="date" th:field="*{startDate}" required/>
                    <span>~</span>
                    <input type="date" th:field="*{endDate}" required/>
                </div>
                <p class="error-message" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
            </div>


            <!-- 여행 유형 입력 -->
            <div class="input-container">
                <label for="themeInput">여행 유형을 선택해주세요!</label>
                <div style="display: flex; gap: 10px;">
                    <input type="text" id="themeInput" th:field="*{themeIds}" readonly required/>
                    <button type="button" id="openThemeModal">여행 유형 선택</button>
                </div>
                <p class="error-message" th:if="${#fields.hasErrors('themeIds')}" th:errors="*{themeIds}"></p>
            </div>

            <!-- 여행 유형 선택 모달 -->
            <div id="newThemeModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <h3>여행 유형 선택</h3>
                    <div class="theme-list">
                        <div th:each="theme : ${themes}">
                            <button type="button" th:text="${theme.name}"
                                    th:attr="data-theme-id=${theme.id}, data-theme=${theme.name}"
                                    onclick="selectTheme(this)"></button>
                        </div>
                    </div>
                    <button type="button" onclick="submitSelectedThemes()">확인</button>
                </div>
            </div>

            <!-- 여행 만족도 -->
            <div class="input-container">
                <label>여행은 얼마나 즐거우셨나요?</label>
                <div class="radio-group">
                    <label>
                        <input type="radio" th:field="*{rating}" value="1" required>
                        <span class="custom-radio"></span> ⭐
                    </label>
                    <label>
                        <input type="radio" th:field="*{rating}" value="2">
                        <span class="custom-radio"></span> ⭐⭐
                    </label>
                    <label>
                        <input type="radio" th:field="*{rating}" value="3">
                        <span class="custom-radio"></span> ⭐⭐⭐
                    </label>
                    <label>
                        <input type="radio" th:field="*{rating}" value="4">
                        <span class="custom-radio"></span> ⭐⭐⭐⭐
                    </label>
                    <label>
                        <input type="radio" th:field="*{rating}" value="5">
                        <span class="custom-radio"></span> ⭐⭐⭐⭐⭐
                    </label>
                </div>
                <!-- 에러 메시지 표시 -->
                <div class="error-message" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"
                     style="color: red;"></div>
            </div>

            <!-- 여행 동반자 -->
            <div class="input-container">
                <label>누구와 함께 여행을 떠나셨나요?</label>
                <div class="radio-group">
                    <label>
                        <input type="radio" th:field="*{companion}" value="혼자" required>
                        <span class="custom-radio"></span> 혼자
                    </label>
                    <label>
                        <input type="radio" th:field="*{companion}" value="친구">
                        <span class="custom-radio"></span> 친구
                    </label>
                    <label>
                        <input type="radio" th:field="*{companion}" value="가족">
                        <span class="custom-radio"></span> 가족
                    </label>
                    <label>
                        <input type="radio" th:field="*{companion}" value="연인">
                        <span class="custom-radio"></span> 연인
                    </label>
                    <label>
                        <input type="radio" th:field="*{companion}" value="아이">
                        <span class="custom-radio"></span> 아이
                    </label>
                    <label>
                        <input type="radio" th:field="*{companion}" value="기타">
                        <span class="custom-radio"></span> 기타
                    </label>
                </div>
                <!-- 에러 메시지 표시 -->
                <div class="error-message" th:if="${#fields.hasErrors('companion')}" th:errors="*{companion}"
                     style="color: red;"></div>
            </div>

            <!-- 경비 -->
            <div class="input-container">
                <label for="totalBudget">경비는 얼마나 들었나요?</label>
                <input type="number" th:field="*{totalBudget}" min="0" step="100000"/>
                <p class="error-message" th:if="${#fields.hasErrors('totalBudget')}" th:errors="*{totalBudget}"></p>
            </div>
        </div>

        <!-- 게시물 작성 부분 -->
        <div class="input-section post-section">
            <!-- 게시글 제목 -->
            <div class="input-container">
                <input type="text" th:field="*{title}" placeholder="게시글 제목을 입력해주세요!" required/>
                <p class="error-message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
            </div>

            <!-- CKEditor를 사용한 게시글 내용 -->
            <div class="input-container">
                <textarea id="editor" name="content" th:field="*{content}" required></textarea>
                <p class="error-message" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
            </div>

        </div>

        <!-- 제출 버튼 -->
        <div class="button-container">
            <button type="submit">여행 후기 작성</button>
        </div>
    </form>
</div>
<div th:replace="~{fragments/footer::footer}"></div>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
            ckfinder: {
                uploadUrl: '/api/file/upload'  // 이미지 업로드 API 엔드포인트
            }
        })
        .catch(error => {
            console.error(error);
        });
</script>


</body>
</html>