<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <link rel="stylesheet" href="/css/radiobutton.css">
    <link rel="stylesheet" href="/css/city-modal.css">
    <link rel="stylesheet" href="/css/theme-modal.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/thumbnail-upload.css">
    <link rel="stylesheet" href="/css/diary-create.css">
    <script defer src="/js/city-modal.js"></script>
    <script defer src="/js/theme-modal.js"></script>
    <script defer src="/js/editor.js"></script>
<!--    <script src="https://cdn.tiny.cloud/1/rm5a7hkfw5kupyjowj0a6z76yxt00auxb36vgbwaoip7z69p/tinymce/6/tinymce.min.js"-->
<!--            referrerpolicy="origin"></script>-->
    <script
            th:src="'https://cdn.tiny.cloud/1/' + @{${@environment.getProperty('tinymce.api.key')}} + '/tinymce/5/tinymce.min.js'"
            referrerpolicy="origin">
    </script>

</head>

<body>
<div id='wrapper'>
    <div th:replace="~{fragments/header::header}"></div>

    <form th:action="@{|/diary/${diary.diaryId}|}" method="post" th:object="${diary}" novalidate
          enctype="multipart/form-data">
        <input type="hidden" name="_method" value="put"/>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="input-section basic-info">
            <h3 class="section-title">필수 입력 정보</h3>

            <div class="input-container">
                <label for="cityId">여행지 이름을 알려주세요!</label>
                <div style="display: flex; gap: 10px;">
                    <input type="text" id="cityName" th:field="*{cityName}" placeholder="어디로 여행을 다녀오셨나요?" readonly/>
                    <button type="button" id="openCityModal">도시 선택</button>
                </div>
                <input type="hidden" id="cityId" th:field="*{cityId}" required/>
                <p class="error-message" th:if="${#fields.hasErrors('cityId')}" th:errors="*{cityId}"></p>
            </div>

            <!-- 도시 선택 모달 -->
            <div id="cityModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <h3>도시 선택</h3>
                    <div class="city-list">
                        <div th:each="entry : ${cities.groupedCities}">
                            <h4 th:text="${entry.key}">도시 유형</h4>
                            <ul>
                                <li th:each="city : ${entry.value}">
                                    <button type="button" th:text="${city.name}"
                                            th:attr="data-city=${city.name}, data-id=${city.id}"
                                            onclick="selectCity(this)">
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 여행 기간 -->
            <label style="flex-shrink: 0;">여행 기간은 언제부터 언제까지였나요?</label>
            <div class="input-container">
                <div style="display: flex; gap: 10px; align-items: center;">
                    <input type="date" th:field="*{startDate}" required/>
                    <span>~</span>
                    <input type="date" th:field="*{endDate}" required/>
                </div>
                <p class="error-message" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
            </div>

            <!-- 여행 유형 입력 -->
            <div class="input-container">
                <label for="themeInput">여행 유형을 선택해주세요!</label>
                <div style="display: flex; gap: 10px;">
                    <input type="text" id="themeInput" th:field="*{themeNames}" readonly required/>
                    <input type="hidden" name="themeIds" id="themeIdsInput" th:field="*{themeIds}"/>
                    <button type="button" id="openThemeModal">여행 유형 선택</button>
                </div>
                <p class="error-message" th:if="${#fields.hasErrors('themeNames')}" th:errors="*{themeNames}"></p>
            </div>

            <!-- 여행 유형 선택 모달 -->
            <div id="newThemeModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <h3>여행 유형 선택</h3>
                    <div class="theme-list">
                        <div th:each="theme : ${themes}">
                            <button type="button" th:text="${theme.name}"
                                    th:attr="data-theme-id=${theme.id}, data-theme=${theme.name}"
                                    onclick="selectTheme(this)"></button>
                        </div>
                    </div>
                    <button type="button" onclick="submitSelectedThemes()">확인</button>
                </div>
            </div>

            <!-- 여행 만족도 -->
            <div class="input-container">
                <label>여행은 얼마나 즐거우셨나요?</label>
                <div class="radio-group">
                    <label>
                        <input type="radio" th:field="*{rating}" value="1" required>
                        <span class="custom-radio"></span> ⭐
                    </label>
                    <label>
                        <input type="radio" th:field="*{rating}" value="2">
                        <span class="custom-radio"></span> ⭐⭐
                    </label>
                    <label>
                        <input type="radio" th:field="*{rating}" value="3">
                        <span class="custom-radio"></span> ⭐⭐⭐
                    </label>
                    <label>
                        <input type="radio" th:field="*{rating}" value="4">
                        <span class="custom-radio"></span> ⭐⭐⭐⭐
                    </label>
                    <label>
                        <input type="radio" th:field="*{rating}" value="5">
                        <span class="custom-radio"></span> ⭐⭐⭐⭐⭐
                    </label>
                </div>
                <!-- 에러 메시지 표시 -->
                <div class="error-message" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"
                     style="color: red;"></div>
            </div>

            <!-- 여행 동반자 -->
            <div class="input-container">
                <label>누구와 함께 여행을 떠나셨나요?</label>
                <div class="radio-group">
                    <label>
                        <input type="radio" th:field="*{companion}" value="혼자" required>
                        <span class="custom-radio"></span> 혼자
                    </label>
                    <label>
                        <input type="radio" th:field="*{companion}" value="친구">
                        <span class="custom-radio"></span> 친구
                    </label>
                    <label>
                        <input type="radio" th:field="*{companion}" value="가족">
                        <span class="custom-radio"></span> 가족
                    </label>
                    <label>
                        <input type="radio" th:field="*{companion}" value="연인">
                        <span class="custom-radio"></span> 연인
                    </label>
                    <label>
                        <input type="radio" th:field="*{companion}" value="아이">
                        <span class="custom-radio"></span> 아이
                    </label>
                    <label>
                        <input type="radio" th:field="*{companion}" value="기타">
                        <span class="custom-radio"></span> 기타
                    </label>
                </div>
                <!-- 에러 메시지 표시 -->
                <div class="error-message" th:if="${#fields.hasErrors('companion')}" th:errors="*{companion}"
                     style="color: red;"></div>
            </div>

            <!-- 경비 -->
            <div class="input-container">
                <label for="totalBudget">경비는 얼마나 들었나요?</label>
                <input type="number" th:field="*{totalBudget}" min="0" step="100000"/>
                <p class="error-message" th:if="${#fields.hasErrors('totalBudget')}" th:errors="*{totalBudget}"></p>
            </div>
        </div>

        <!-- 게시물 작성 부분 -->
        <div class="input-section post-section-wide">
            <!-- 게시글 제목 -->
            <div class="input-container">
                <input type="text" th:field="*{title}" placeholder="게시글 제목을 입력해주세요!" required />
                <p class="error-message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
            </div>

            <!-- 썸네일 업로드 -->
            <div class="input-container">
                <label for="thumbnail" class="thumbnail-label">썸네일 이미지</label>

                <div class="thumbnail-wrapper">
                    <!-- 썸네일 미리보기 -->
                    <img id="thumbnail-preview"
                         th:if="${thumbnailUrl != null}"
                         th:src="@{${thumbnailUrl}}"
                         alt="썸네일 미리보기" />

                    <img id="thumbnail-preview-js"
                         th:if="${thumbnailUrl == null}"
                         src=""
                         alt="썸네일 미리보기"
                         style="display: none;" />

                    <!-- 파일 선택 버튼 -->
                    <label for="thumbnail" class="upload-button">파일 선택</label>
                    <input type="file" id="thumbnail" name="thumbnail" accept="image/*"
                           onchange="previewThumbnail(event)" style="display: none;" />
                </div>
            </div>

            <!-- 구분선 또는 여백 -->
            <hr class="divider" />

            <!-- 게시글 내용 (에디터) -->
            <div class="input-container">
                <label for="editor" class="editor-label">게시글 내용</label>
                <textarea id="editor" name="content" th:field="*{content}" required></textarea>
                <p class="error-message" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
            </div>
        </div>

            <!-- 제출 버튼 -->
            <div class="button-container">
                <button type="submit">여행 후기 작성</button>
            </div>
        </div>
    </form>
</div>
<div th:replace="~{fragments/footer::footer}"></div>
<script>
    function previewThumbnail(event) {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          const preview = document.getElementById('thumbnail-preview');
          const previewJs = document.getElementById('thumbnail-preview-js');

          // 기존 이미지 태그 제거
          if (preview) preview.src = e.target.result;
          if (previewJs) {
            previewJs.src = e.target.result;
            previewJs.style.display = 'block';
          }
        };
        reader.readAsDataURL(file);
      }
    }
</script>


</body>
</html>