.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eaeaea;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.toolbar button, .toolbar select {
    padding: 8px;
    margin: 4px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    color: black;
}

.toolbar button:hover {
    background-color: #ddd;
}

.editor {
    width: 100%;
    min-height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    outline: none;
    transition: height 0.2s ease-in-out;
    margin: 0 auto;
    display: block;
    position: relative;
}

.editor img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
}

form {
    text-align: left;
    width: 60%;
    margin: 0 auto;
}

.input-container {
    margin-bottom: 20px;
}

.input-container input[type="text"] {
    width: 100%;
    padding: 8px;
    display: inline-block;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.input-container input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50;
}

.editor-placeholder {
    color: #aaa;
    font-style: italic;
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

.button-container {
    text-align: center;
}