.container {
    width: 350px;  /* 컨테이너의 너비 */
    padding: 20px;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    display: flex;  /* flexbox 사용 */
    flex-direction: column;  /* 항목들을 수직으로 정렬 */
    align-items: center;  /* 항목들을 수평으로 중앙 정렬 */
}

/* 입력란 스타일만 */
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 10px;
}

/* 버튼 기본 스타일 */
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;  /* 버튼만의 스타일 */
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 10px;

    background-color: #000;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #fff; /* hover 시 흰색 배경 */
    color: #000; /* hover 시 검정색 글씨 */
    border: 1px solid #000; /* hover 시 검정색 테두리 유지 */
}

input[type="email"],input[type="password"] {
     width: 10%;
     min-width: 300px;
     padding: 12px;
     font-size: 14px;
     margin-bottom: 16px;
     box-sizing: border-box;
}