#wrapper{
  height: auto;
  min-height: 100%;
  padding-bottom: 100px;
}

body, html {
  height: 100%;
  margin: 0;
}

footer {
  background-color: #f2f2f2;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}
label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.content {
    font-family: 'Pretendard Variable', sans-serif;
    padding: 2rem;
}


