#wrapper{
  height: auto;
  min-height: 100%;
  padding-bottom: 100px;
}
footer{
  height: 40px;
  position : relative;
  transform : translateY(-100%);
}

.container {
    width: 350px;  /* 컨테이너의 너비 */
    padding: 20px;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    display: flex;  /* flexbox 사용 */
    flex-direction: column;  /* 항목들을 수직으로 정렬 */
    align-items: center;  /* 항목들을 수평으로 중앙 정렬 */
}

/* 입력란과 버튼의 스타일 */
input, button {
    width: 100%;  /* 너비 100%로 설정 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 10px;  /* 항목들 간의 간격을 주기 위해 margin-bottom 추가 */
}

/* 일반 버튼 스타일 */
button {
    background-color: #000; /* 검정색 배경 */
    color: #fff; /* 흰색 글씨 */
    border: 1px solid #000; /* 검정색 테두리 */
    cursor: pointer;
}

button:hover {
    background-color: #fff; /* hover 시 흰색 배경 */
    color: #000; /* hover 시 검정색 글씨 */
    border: 1px solid #000; /* hover 시 검정색 테두리 유지 */
}

/* 인증 버튼 스타일 */
.auth-button {
    background-color: #000; /* 검정색 배경 */
    color: #fff; /* 흰색 글씨 */
    border: 1px solid #000; /* 검정색 테두리 */
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 10px;
}

.auth-button:hover {
    background-color: #fff; /* hover 시 흰색 배경 */
    color: #000; /* hover 시 검정색 글씨 */
    border: 1px solid #000; /* hover 시 검정색 테두리 유지 */
}

/* 비활성화된 버튼 스타일 */
.auth-button:disabled {
    background-color: #cccccc; /* 비활성화 버튼 스타일 */
    cursor: not-allowed;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

button, .auth-button {
    margin-top: 15px;
}

#auth-code-container {
    margin-top: 15px;
}

.social-login-buttons img {
    width: 100%;
    max-width: 200px;
    margin-top: 15px;
    cursor: pointer;
}

/* 소셜 로그인 버튼들 수평 정렬 */
.social-login-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.social-login-buttons a {
    display: inline-block;
    width: 48%; /* 버튼 간격을 위해 48%씩 */
}

#email[readonly] {
    background-color: #f0f0f0;
    color: #555;
    cursor: not-allowed;
    border: 1px solid #ccc;
}

#authCode[readonly] {
    background-color: #f0f0f0;
    color: #555;
    cursor: not-allowed;
    border: 1px solid #ccc;
}


.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}